
.paper-main {
    background-color: #043873;
}
.paper-project {
    background-color: #FFFFFF;
}


  @media (min-width: 1400px) and (max-width: 1920px) {
    .paper-main {
        display: flex;
        height: 748px;
    
        .center-info-div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 456px;
            width: 100%;
            padding: 0px 32px;
            margin-top: 192px;

            .yours-promotion-div {
                width: 685px;
                height: 456px;
                background-color: #C4DEFD;
            }

            .get-more-div {
                display: flex;
                flex-direction: column;
                width: 651px;
                row-gap: 24px;

                .get-span {
                    color: #FFFFFF;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 64px;
                    line-height: 77px;
                    letter-spacing: -0.02em;
                }

                .project-managment-span {
                    color: #FFFFFF;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 30px;
                    letter-spacing: -0.02em;
                }

                .try-btn {
                    background-color: #4F9CF9;
                    width: 227px;
                    height: 60px;
                    color: #FFFFFF;
                    border-radius: 8px;
                    border: none;
                    padding: 0;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 23px;
                    letter-spacing: -0.02em;
                    margin-top: 36px;
                }
            }
        }
    }

    .paper-project {
        display: flex;
        height: 728px;

        .center-info-div {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            margin-top: 140px;
            padding: 0px 32px;

            .yours-promotion-div {
                background-color: #C4DEFD;
                width: 719px;
                height: 448px;
            }

            .project-div {
                display: flex;
                flex-direction: column;
                row-gap: 24px;
                width: 617px;

                .project-span {
                    font-style: normal;
                    font-weight: 700;
                    font-size: 72px;
                    line-height: 87px;
                    letter-spacing: -0.02em;
                    color: #212529;
                }

                .text-span {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 30px;
                    letter-spacing: -0.02em;
                    color: #212529;
                }
                
                .get-started-btn {
                    background-color: #4F9CF9;
                    width: 201px;
                    height: 63px;
                    color: #FFFFFF;
                    border-radius: 8px;
                    border: none;
                    padding: 0;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 23px;
                    letter-spacing: -0.02em;
                    margin-top: 36px;
                }
            }
        }
    }
}
  
  @media (min-width: 1152px) and (max-width: 1400px) {
    .paper-main {
        display: flex;
        height: 733px;
    
        .center-info-div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 456px;
            width: 100%;
            padding: 0px 32px;
            margin-top: 192px;

            .yours-promotion-div {
                width: 526px;
                height: 350px;
                background-color: #C4DEFD;
            }

            .get-more-div {
                display: flex;
                flex-direction: column;
                min-width: 550px;
                max-width: 562px;
                row-gap: 24px;

                .get-span {
                    color: #FFFFFF;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 64px;
                    line-height: 77px;
                    letter-spacing: -0.02em;
                }

                .project-managment-span {
                    color: #FFFFFF;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 30px;
                    letter-spacing: -0.02em;
                }

                .try-btn {
                    background-color: #4F9CF9;
                    width: 227px;
                    height: 60px;
                    color: #FFFFFF;
                    border-radius: 8px;
                    border: none;
                    padding: 0;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 23px;
                    letter-spacing: -0.02em;
                    margin-top: 36px;
                }
            }
        }
    }

    .paper-project {
        display: flex;
        height: 728px;

        .center-info-div {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            margin-top: 140px;
            padding: 0px 32px;

            .yours-promotion-div {
                background-color: #C4DEFD;
                width: 527px;
                height: 328px;
            }

            .project-div {
                display: flex;
                flex-direction: column;
                row-gap: 24px;
                width: 436px;

                .project-span {
                    font-style: normal;
                    font-weight: 700;
                    font-size: 64px;
                    line-height: 77px;
                    letter-spacing: -0.02em;
                    color: #212529;
                }

                .text-span {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 30px;
                    letter-spacing: -0.02em;
                    color: #212529;
                }
                
                .get-started-btn {
                    background-color: #4F9CF9;
                    width: 201px;
                    height: 63px;
                    color: #FFFFFF;
                    border-radius: 8px;
                    border: none;
                    padding: 0;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 23px;
                    letter-spacing: -0.02em;
                    margin-top: 36px;
                }
            }
        }
    }
}


  @media (min-width: 768px) and (max-width: 1152px) {
    .paper-main {
        display: flex;
        height: 1117px;
    
        .center-info-div {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            row-gap: 100px;
            padding: 0px 20px;
            margin-top: 206px;

            .yours-promotion-div {
                width: 551px;
                height: 367px;
                background-color: #C4DEFD;
            }

            .get-more-div {
                display: flex;
                flex-direction: column;
                align-items: center;
                row-gap: 24px;
                width: auto;
                row-gap: 24px;
                text-align: center;

                .get-span {
                    color: #FFFFFF;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 54px;
                    line-height: 65px;
                    letter-spacing: -0.02em;
                }

                .project-managment-span {
                    color: #FFFFFF;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 30px;
                    letter-spacing: -0.02em;
                }

                .try-btn {
                    background-color: #4F9CF9;
                    width: 227px;
                    height: 60px;
                    color: #FFFFFF;
                    border-radius: 8px;
                    border: none;
                    padding: 0;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 30px;
                    margin-top: 36px;
                }
            }
        }
    }

    .paper-project {
        display: flex;
        height: 907px;

        .center-info-div {
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 60px;
            width: 100%;
            margin-top: 100px;
            margin-bottom: 100px;
            padding: 0px 20px;

            .yours-promotion-div {
                background-color: #C4DEFD;
                width: 561px;
                height: 349px;
            }

            .project-div {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                row-gap: 24px;
                width: auto;

                .project-span {
                    font-style: normal;
                    font-weight: 700;
                    font-size: 54px;
                    line-height: 65px;
                    letter-spacing: -0.02em;
                    color: #212529;
                }

                .text-span {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 30px;
                    letter-spacing: -0.02em;
                    color: #212529;
                }
                
                .get-started-btn {
                    background-color: #4F9CF9;
                    width: 201px;
                    height: 63px;
                    color: #FFFFFF;
                    border-radius: 8px;
                    border: none;
                    padding: 0;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 23px;
                    letter-spacing: -0.02em;
                    margin-top: 36px;
                }
            }
        }
    }
}
  
  @media (min-width: 320px) and (max-width: 768px) {
    .paper-main {
        display: flex;
        height: 869px;
    
        .center-info-div {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            row-gap: 100px;
            padding: 0px 16px;
            margin-top: 136px;

            .yours-promotion-div {
                width: 286px;
                height: 191px;
                background-color: #C4DEFD;
            }

            .get-more-div {
                display: flex;
                flex-direction: column;
                align-items: center;
                row-gap: 24px;
                width: auto;
                row-gap: 24px;
                text-align: center;

                .get-span {
                    color: #FFFFFF;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 36px;
                    line-height: 44px;
                    text-align: center;
                    letter-spacing: -0.02em;
                }

                .project-managment-span {
                    color: #FFFFFF;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 30px;
                    letter-spacing: -0.02em;
                }

                .try-btn {
                    background-color: #4F9CF9;
                    width: 227px;
                    height: 60px;
                    color: #FFFFFF;
                    border-radius: 8px;
                    border: none;
                    padding: 0;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 30px;
                    margin-top: 36px;
                }
            }
        }
    }

    .paper-project {
        display: flex;
        height: 819px;

        .center-info-div {
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 60px;
            width: 100%;
            margin-top: 80px;
            margin-bottom: 80px;
            padding: 0px 16px;

            .yours-promotion-div {
                background-color: #C4DEFD;
                width: 288px;
                height: 177px;
            }

            .project-div {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                row-gap: 24px;
                width: auto;

                .project-span {
                    font-style: normal;
                    font-weight: 700;
                    font-size: 36px;
                    line-height: 44px;
                    letter-spacing: -0.02em;
                    color: #212529;
                }

                .text-span {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 30px;
                    letter-spacing: -0.02em;
                    color: #212529;
                }
                
                .get-started-btn {
                    background-color: #4F9CF9;
                    width: 201px;
                    height: 63px;
                    color: #FFFFFF;
                    border-radius: 8px;
                    border: none;
                    padding: 0;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 23px;
                    letter-spacing: -0.02em;
                    margin-top: 36px;
                }
            }
        }
    }
}