
.paper-main {
    background-color: #043873;
}
.paper-project {
    background-color: #FFFFFF;
}
.paper-use {
    background-color: #043873;
}
.paper-chooose {
    background-color: #FFFFFF
}

  @media (min-width: 1400px) and (max-width: 1920px) {
    .paper-main {
        display: flex;
        height: 748px;
    
        .center-info-div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 456px;
            width: 100%;
            padding: 0px 32px;
            margin-top: 192px;

            .yours-promotion-div {
                width: 685px;
                height: 456px;
                background-color: #C4DEFD;
            }

            .get-more-div {
                display: flex;
                flex-direction: column;
                width: 651px;
                row-gap: 24px;

                .get-span {
                    color: #FFFFFF;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 64px;
                    line-height: 77px;
                    letter-spacing: -0.02em;
                }

                .project-managment-span {
                    color: #FFFFFF;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 30px;
                    letter-spacing: -0.02em;
                }

                .try-btn {
                    background-color: #4F9CF9;
                    width: 227px;
                    height: 60px;
                    color: #FFFFFF;
                    border-radius: 8px;
                    border: none;
                    padding: 0;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 23px;
                    letter-spacing: -0.02em;
                    margin-top: 36px;
                }
            }
        }
    }

    .paper-project {
        display: flex;
        height: 728px;

        .center-info-div {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            margin-top: 140px;
            padding: 0px 32px;

            .yours-promotion-div {
                background-color: #C4DEFD;
                width: 719px;
                height: 448px;
            }

            .project-div {
                display: flex;
                flex-direction: column;
                row-gap: 24px;
                width: 617px;

                .project-span {
                    font-style: normal;
                    font-weight: 700;
                    font-size: 72px;
                    line-height: 87px;
                    letter-spacing: -0.02em;
                    color: #212529;
                }

                .text-span {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 30px;
                    letter-spacing: -0.02em;
                    color: #212529;
                }
                
                .get-started-btn {
                    background-color: #4F9CF9;
                    width: 201px;
                    height: 63px;
                    color: #FFFFFF;
                    border-radius: 8px;
                    border: none;
                    padding: 0;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 23px;
                    letter-spacing: -0.02em;
                    margin-top: 36px;
                }
            }
        }
    }

    .paper-use {
        display: flex;
        height: 759px;
    
        .center-info-div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 479px;
            width: 100%;
            padding: 0px 32px;
            margin-top: 140px;
            margin-bottom: 140px;

            .yours-promotion-div {
                width: 686px;
                height: 479px;
                background-color: #C4DEFD;
            }

            .use-div {
                display: flex;
                flex-direction: column;
                width: 552px;
                row-gap: 24px;

                .use-span {
                    color: #FFFFFF;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 72px;
                    line-height: 87px;
                    letter-spacing: -0.02em;
                }

                .text-span {
                    color: #FFFFFF;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 30px;
                    letter-spacing: -0.02em;
                }

                .lets-go-btn {
                    background-color: #4F9CF9;
                    width: 227px;
                    height: 60px;
                    color: #FFFFFF;
                    border-radius: 8px;
                    border: none;
                    padding: 0;
                    font-family: 'Montserrat',  sans-serif;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 23px;
                    margin-top: 36px;
                }
            }
        }
    }

    .paper-choose {
        display: flex;
        height: 1232px;

        .center-info-div {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            height: 992px;
            padding: 0px 32px;
            margin-top: 100px;

            .choose-div {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                width: 100%;
                row-gap: 24px;
                margin-bottom: 36px;

                .choose-span  {
                    color: #212529;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 72px;
                    line-height: 87px;
                    letter-spacing: -0.02em;
                }

                .text-span {
                    color: #212529;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 30px;
                    letter-spacing: -0.02em;
                }
            }

            .cards-div {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                height: 761px;

                .card-blue {
                    display: flex;
                    flex-direction: column;
                    width: 424px;
                    height: 100%;
                    gap: 25px;
                    border-radius: 10px;
                    padding: 80px 44px;
                    background-color: #043873;

                    .title-span{
                        color: #FFFFFF;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 24px;
                        line-height: 36px;
                    }

                    .price-span{
                        color: #FFE492;
                        font-style: normal;
                        font-weight: 700;
                        font-size: 36px;
                        line-height: 44px;
                        letter-spacing: -0.02em;
                    }

                    .info-span {
                        color: #FFFFFF;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 23px;
                        letter-spacing: -0.02em;
                    }

                    .benefit-div {
                        display: flex;
                        align-items: center;
                        gap: 15px;
                        margin-bottom: 3px;

                        .benefit-img {
                            color: #FFE492;
                            width: 18px;
                            height: 18px;
                        }

                        .benefit-span {
                            color: #FFFFFF;
                            font-style: normal;
                            font-weight: 500;
                            font-size: 18px;
                            line-height: 23px;
                            letter-spacing: -0.02em;
                        }
                    }
                    
                    .get-started-btn {
                        background-color: #4F9CF9;
                        width: 166px;
                        height: 51px;
                        color: #FFFFFF;
                        border-radius: 8px;
                        border: none;
                        padding: 0;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 19px;
                        letter-spacing: -0.02em;
                    }
                }

                .card-white {
                    display: flex;
                    flex-direction: column;
                    width: 424px;
                    height: 654px;
                    gap: 25px;
                    border-radius: 10px;
                    padding: 40px 44px;
                    background-color: #FFFFFF;
                    color: #212529;
                    border: 1px solid #FFE492;

                    .title-span{
                        
                        font-style: normal;
                        font-weight: 600;
                        font-size: 24px;
                        line-height: 36px;
                    }

                    .price-span{
                        
                        font-style: normal;
                        font-weight: 700;
                        font-size: 36px;
                        line-height: 44px;
                        letter-spacing: -0.02em;
                    }

                    .info-span {
                        
                        font-style: normal;
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 23px;
                        letter-spacing: -0.02em;
                    }

                    .benefit-div {
                        display: flex;
                        align-items: center;
                        gap: 15px;
                        margin-bottom: 3px;

                        .benefit-img {
                            
                            width: 18px;
                            height: 18px;
                        }

                        .benefit-span {
                            font-style: normal;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 20px;
                            letter-spacing: -0.02em;
                        }
                    }
                    
                    .get-started-btn {
                        background-color: #FFFFFF;
                        width: 166px;
                        height: 51px;
                        border-radius: 8px;
                        border: none;
                        padding: 0;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 19px;
                        letter-spacing: -0.02em;
                        border: 1px solid #FFE492;
                    }
                }
            }
        }
    }
}
  
  @media (min-width: 1152px) and (max-width: 1400px) {
    .paper-main {
        display: flex;
        height: 733px;
    
        .center-info-div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 456px;
            width: 100%;
            padding: 0px 32px;
            margin-top: 192px;

            .yours-promotion-div {
                width: 526px;
                height: 350px;
                background-color: #C4DEFD;
            }

            .get-more-div {
                display: flex;
                flex-direction: column;
                min-width: 550px;
                max-width: 562px;
                row-gap: 24px;

                .get-span {
                    color: #FFFFFF;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 64px;
                    line-height: 77px;
                    letter-spacing: -0.02em;
                }

                .project-managment-span {
                    color: #FFFFFF;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 30px;
                    letter-spacing: -0.02em;
                }

                .try-btn {
                    background-color: #4F9CF9;
                    width: 227px;
                    height: 60px;
                    color: #FFFFFF;
                    border-radius: 8px;
                    border: none;
                    padding: 0;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 23px;
                    letter-spacing: -0.02em;
                    margin-top: 36px;
                }
            }
        }
    }

    .paper-project {
        display: flex;
        height: 728px;

        .center-info-div {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            margin-top: 140px;
            padding: 0px 32px;

            .yours-promotion-div {
                background-color: #C4DEFD;
                width: 527px;
                height: 328px;
            }

            .project-div {
                display: flex;
                flex-direction: column;
                row-gap: 24px;
                width: 436px;

                .project-span {
                    font-style: normal;
                    font-weight: 700;
                    font-size: 64px;
                    line-height: 77px;
                    letter-spacing: -0.02em;
                    color: #212529;
                }

                .text-span {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 30px;
                    letter-spacing: -0.02em;
                    color: #212529;
                }
                
                .get-started-btn {
                    background-color: #4F9CF9;
                    width: 201px;
                    height: 63px;
                    color: #FFFFFF;
                    border-radius: 8px;
                    border: none;
                    padding: 0;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 23px;
                    letter-spacing: -0.02em;
                    margin-top: 36px;
                }
            }
        }
    }

    .paper-use {
        display: flex;
        height: 600px;
    
        .center-info-div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding: 0px 32px;
            margin-top: 140px;
            margin-bottom: 140px;

            .yours-promotion-div {
                width: 459px;
                height: 320px;
                background-color: #C4DEFD;
            }

            .use-div {
                display: flex;
                flex-direction: column;
                width: 528px;
                row-gap: 24px;

                .use-span {
                    color: #FFFFFF;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 64px;
                    line-height: 77px;
                    letter-spacing: -0.02em;
                }

                .text-span {
                    color: #FFFFFF;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 30px;
                    letter-spacing: -0.02em;
                }

                .lets-go-btn {
                    background-color: #4F9CF9;
                    width: 227px;
                    height: 60px;
                    color: #FFFFFF;
                    border-radius: 8px;
                    border: none;
                    padding: 0;
                    font-family: 'Montserrat',  sans-serif;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 23px;
                    margin-top: 36px;
                }
            }
        }
    }
}


  @media (min-width: 768px) and (max-width: 1152px) {
    .paper-main {
        display: flex;
        height: 1117px;
    
        .center-info-div {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            row-gap: 100px;
            padding: 0px 20px;
            margin-top: 206px;

            .yours-promotion-div {
                width: 551px;
                height: 367px;
                background-color: #C4DEFD;
            }

            .get-more-div {
                display: flex;
                flex-direction: column;
                align-items: center;
                row-gap: 24px;
                width: auto;
                row-gap: 24px;
                text-align: center;

                .get-span {
                    color: #FFFFFF;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 54px;
                    line-height: 65px;
                    letter-spacing: -0.02em;
                }

                .project-managment-span {
                    color: #FFFFFF;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 30px;
                    letter-spacing: -0.02em;
                }

                .try-btn {
                    background-color: #4F9CF9;
                    width: 227px;
                    height: 60px;
                    color: #FFFFFF;
                    border-radius: 8px;
                    border: none;
                    padding: 0;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 30px;
                    margin-top: 36px;
                }
            }
        }
    }

    .paper-project {
        display: flex;
        height: 907px;

        .center-info-div {
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 60px;
            width: 100%;
            margin-top: 100px;
            margin-bottom: 100px;
            padding: 0px 20px;

            .yours-promotion-div {
                background-color: #C4DEFD;
                width: 561px;
                height: 349px;
            }

            .project-div {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                row-gap: 24px;
                width: auto;

                .project-span {
                    font-style: normal;
                    font-weight: 700;
                    font-size: 54px;
                    line-height: 65px;
                    letter-spacing: -0.02em;
                    color: #212529;
                }

                .text-span {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 30px;
                    letter-spacing: -0.02em;
                    color: #212529;
                }
                
                .get-started-btn {
                    background-color: #4F9CF9;
                    width: 201px;
                    height: 63px;
                    color: #FFFFFF;
                    border-radius: 8px;
                    border: none;
                    padding: 0;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 23px;
                    letter-spacing: -0.02em;
                    margin-top: 36px;
                }
            }
        }
    }

    .paper-use {
        display: flex;
        height: 917px;
    
        .center-info-div {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            padding: 0px 32px;
            margin-top: 100px;
            margin-bottom: 100px;

            .yours-promotion-div {
                width: 557px;
                height: 389px;
                background-color: #C4DEFD;
            }

            .use-div {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                width: auto;
                row-gap: 24px;
                margin-bottom: 80px;

                .use-span {
                    color: #FFFFFF;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 54px;
                    line-height: 65px;
                    letter-spacing: -0.02em;
                }

                .text-span {
                    color: #FFFFFF;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 30px;
                    letter-spacing: -0.02em;
                }

                .lets-go-btn {
                    background-color: #4F9CF9;
                    width: 227px;
                    height: 60px;
                    color: #FFFFFF;
                    border-radius: 8px;
                    border: none;
                    padding: 0;
                    font-family: 'Montserrat',  sans-serif;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 19px;
                    letter-spacing: -0.02em;
                    margin-top: 36px;
                }
            }
        }
    }
}
  
  @media (min-width: 320px) and (max-width: 768px) {
    .paper-main {
        display: flex;
        height: 869px;
    
        .center-info-div {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            row-gap: 100px;
            padding: 0px 16px;
            margin-top: 136px;

            .yours-promotion-div {
                width: 286px;
                height: 191px;
                background-color: #C4DEFD;
            }

            .get-more-div {
                display: flex;
                flex-direction: column;
                align-items: center;
                row-gap: 24px;
                width: auto;
                row-gap: 24px;
                text-align: center;

                .get-span {
                    color: #FFFFFF;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 36px;
                    line-height: 44px;
                    text-align: center;
                    letter-spacing: -0.02em;
                }

                .project-managment-span {
                    color: #FFFFFF;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 30px;
                    letter-spacing: -0.02em;
                }

                .try-btn {
                    background-color: #4F9CF9;
                    width: 227px;
                    height: 60px;
                    color: #FFFFFF;
                    border-radius: 8px;
                    border: none;
                    padding: 0;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 30px;
                    margin-top: 36px;
                }
            }
        }
    }

    .paper-project {
        display: flex;
        height: 819px;

        .center-info-div {
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 60px;
            width: 100%;
            margin-top: 80px;
            margin-bottom: 80px;
            padding: 0px 16px;

            .yours-promotion-div {
                background-color: #C4DEFD;
                width: 288px;
                height: 177px;
            }

            .project-div {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                row-gap: 24px;
                width: auto;

                .project-span {
                    font-style: normal;
                    font-weight: 700;
                    font-size: 36px;
                    line-height: 44px;
                    letter-spacing: -0.02em;
                    color: #212529;
                }

                .text-span {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 30px;
                    letter-spacing: -0.02em;
                    color: #212529;
                }
                
                .get-started-btn {
                    background-color: #4F9CF9;
                    width: 201px;
                    height: 63px;
                    color: #FFFFFF;
                    border-radius: 8px;
                    border: none;
                    padding: 0;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 23px;
                    letter-spacing: -0.02em;
                    margin-top: 36px;
                }
            }
        }
    }

    .paper-use {
        display: flex;
        height: 810px;
    
        .center-info-div {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            padding: 0px 16px;
            margin-top: 80px;
            margin-bottom: 80px;

            .yours-promotion-div {
                width: 285px;
                height: 198px;
                background-color: #C4DEFD;
            }

            .use-div {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                width: auto;
                row-gap: 24px;
                margin-bottom: 60px;

                .use-span {
                    color: #FFFFFF;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 36px;
                    line-height: 44px;
                    letter-spacing: -0.02em;
                }

                .text-span {
                    color: #FFFFFF;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 30px;
                    letter-spacing: -0.02em;
                }

                .lets-go-btn {
                    background-color: #4F9CF9;
                    width: 227px;
                    height: 60px;
                    color: #FFFFFF;
                    border-radius: 8px;
                    border: none;
                    padding: 0;
                    font-family: 'Montserrat',  sans-serif;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 30px;
                    letter-spacing: -0.02em;
                    margin-top: 36px;
                }
            }
        }
    }
}