/* Медиазапросы для экрана шириной 1920px и выше */
.paper {
    background-color: #043873;
}

@media (min-width: 1920px) {
    .paper {
        height: 921px;
    }
}
  
  /* Медиазапросы для экрана шириной от 1400px до 1919px */
  @media (min-width: 1400px) and (max-width: 1920px) {
    /* Дополнительные стили для AppBar на экранах шириной от 1400px до 1919px */
    .paper {
        height: 748px;
    }
}
  
  /* Медиазапросы для экрана шириной от 1152px до 1399px */
  @media (min-width: 1152px) and (max-width: 1400px) {
    /* Дополнительные стили для AppBar на экранах шириной от 1152px до 1399px */
    .paper {
        height: 733px;
    }
}
  
  /* Медиазапросы для экрана шириной от 768px до 1151px */
  @media (min-width: 768px) and (max-width: 1152px) {
    /* Дополнительные стили для AppBar на экранах шириной от 768px до 1151px */
    .paper {
        height: 1117px;
    }  
}
  
  /* Медиазапросы для экрана шириной 320px до 767px */
  @media (min-width: 320px) and (max-width: 768px) {
    /* Дополнительные стили для AppBar на экранах шириной от 320px до 767px */
    .paper {
        height: 869px;
    }
}