.container {
    background-color: rgb(54, 59, 192);
}
@media (min-width: 1400px) and (max-width: 1920px) {
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        height: 92px;
        width: 100vw;
        padding: 0px 32px;
        
        .left-div{
            display: flex;
            align-items: center;
            gap: 10px;
            height: 100%;
            .left-span {
                color: white;
                font-style: normal;
                font-weight: 700;
                font-size: 28px;
                line-height: 34px;
        }
        }

        .compress-div {
            display: flex;
            align-items: center;
            gap: 75px;

            .center-div {
                display: flex;
                align-items: center;
                gap: 42px;
                height: 100%;

                .item-center-div {
                    display: flex;
                    column-gap: 20px;
                    
                    .item-span {
                        color: white;
                        font-family: 'DM Sans', sans-serif;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 23px;
                    }
                }
                
            }

            .right-div {
                display: flex;
                align-items: center;
                column-gap: 24px;


                .login-btn {
                    background-color: #FFE492;
                    width: 126px;
                    height: 60px;
                    color: #043873;
                    border-radius: 8px;
                    border: none;
                    padding: 0;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 23px;
                }

                .try-btn {
                    background-color: #4F9CF9;
                    width: 227px;
                    height: 60px;
                    color: #FFFFFF;
                    border-radius: 8px;
                    border: none;
                    padding: 0;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 23px;     
                }

                .burger-div {
                    display: none;
                }
            }
        }
    }
}
  
  @media (min-width: 1152px) and (max-width: 1400px) {
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        height: 92px;
        width: 100vw;
        padding: 0px 32px;
        
        .left-div{
            display: flex;
            align-items: center;
            gap: 10px;
            height: 100%;
            .left-span {
                color: white;
                font-style: normal;
                font-weight: 700;
                font-size: 28px;
                line-height: 34px;
        }
        }

        .compress-div {
            display: flex;
            align-items: center;
            gap: 75px;

            .center-div {
                display: none;

                .item-center-div {
                    display: flex;
                    column-gap: 20px;
                    
                    .item-span {
                        color: white;
                        font-family: 'DM Sans', sans-serif;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 23px;
                    }
                }
                
            }

            .right-div {
                display: flex;
                align-items: center;
                column-gap: 20px;


                .login-btn {
                    background-color: #FFE492;
                    width: 126px;
                    height: 60px;
                    color: #043873;
                    border-radius: 8px;
                    border: none;
                    padding: 0;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 23px;
                }

                .try-btn {
                    background-color: #4F9CF9;
                    width: 227px;
                    height: 60px;
                    color: #FFFFFF;
                    border-radius: 8px;
                    border: none;
                    padding: 0;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 23px;
                    margin-left: 4px;       
                }

                .burger-div {
                    width: 42px;
                    height: 26px;
                    position: relative;
                    cursor: pointer;

                    .bar {
                        width: 100%;
                        height: 2px;
                        background-color: rgb(255, 255, 255);
                        position: absolute;
                        top: 50%;
                        left: 0;
                        transform: translateY(-50%);
                        transition: transform 0.3s ease;
                      }

                    .bar::before,
                    .bar::after {
                    content: "";
                    width: 100%;
                    height: 2px;
                    background-color: rgb(255, 255, 255);
                    position: absolute;
                    transition: transform 0.3s ease;
                    }

                    .bar::before {
                    top: -12px;
                    }

                    .bar::after {
                    bottom: -12px;
                    }
                }
            }
        }
    }
}

  
  @media (min-width: 768px) and (max-width: 1152px) {
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        height: 66px;
        width: 100vw;
        padding: 0px 32px;
        
        .left-div{
            display: flex;
            align-items: center;
            gap: 10px;
            height: 100%;
            .left-span {
                color: white;
                font-style: normal;
                font-weight: 700;
                font-size: 28px;
                line-height: 34px;
        }
        }

        .compress-div {
            display: flex;
            align-items: center;
            gap: 75px;

            .center-div {
                display: none;

                .item-center-div {
                    display: flex;
                    column-gap: 20px;
                    
                    .item-span {
                        color: white;
                        font-family: 'DM Sans', sans-serif;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 23px;
                    }
                }
                
            }

            .right-div {
                display: flex;
                align-items: center;
                column-gap: 20px;


                .login-btn {
                    display: none;
                }

                .try-btn {
                    display: none;       
                }

                .burger-div {
                    width: 42px;
                    height: 26px;
                    position: relative;
                    cursor: pointer;

                    .bar {
                        width: 100%;
                        height: 2px;
                        background-color: rgb(255, 255, 255);
                        position: absolute;
                        top: 50%;
                        left: 0;
                        transform: translateY(-50%);
                        transition: transform 0.3s ease;
                      }

                    .bar::before,
                    .bar::after {
                    content: "";
                    width: 100%;
                    height: 2px;
                    background-color: rgb(255, 255, 255);
                    position: absolute;
                    transition: transform 0.3s ease;
                    }

                    .bar::before {
                    top: -12px;
                    }

                    .bar::after {
                    bottom: -12px;
                    }
                }
            }
        }
    }
    
}
  
  @media (min-width: 320px) and (max-width: 768px) {
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        height: 56px;
        width: 100vw;
        padding: 0px 16px;
        
        .left-div{
            display: flex;
            align-items: center;
            gap: 10px;
            height: 100%;
            .left-span {
                color: white;
                font-style: normal;
                font-weight: 700;
                font-size: 19.644px;
                line-height: 24px;
            }
        }

        .compress-div {
            display: flex;
            align-items: center;
            gap: 75px;

            .center-div {
                display: none;

                .item-center-div {
                    display: flex;
                    column-gap: 20px;
                    
                    .item-span {
                        color: white;
                        font-family: 'DM Sans', sans-serif;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 23px;
                    }
                }
                
            }

            .right-div {
                display: flex;
                align-items: center;
                column-gap: 20px;


                .login-btn {
                    display: none;
                }

                .try-btn {
                    display: none;       
                }

                .burger-div {
                    width: 42px;
                    height: 26px;
                    position: relative;
                    cursor: pointer;

                    .bar {
                        width: 100%;
                        height: 2px;
                        background-color: rgb(255, 255, 255);
                        position: absolute;
                        top: 50%;
                        left: 0;
                        transform: translateY(-50%);
                        transition: transform 0.3s ease;
                      }

                    .bar::before,
                    .bar::after {
                    content: "";
                    width: 100%;
                    height: 2px;
                    background-color: rgb(255, 255, 255);
                    position: absolute;
                    transition: transform 0.3s ease;
                    }

                    .bar::before {
                    top: -12px;
                    }

                    .bar::after {
                    bottom: -12px;
                    }
                }
            }
        }
    }
}
    
    